.item {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid;
}
.itemList {
  margin: auto;
  max-width: 800px;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  border-bottom: solid;
}